#page-blocks-course_fisher-addcourse .teachercourses .addcoursegrouplink,
#page-blocks-course_fisher-addcourse .teachercourses .enroltocourseitem,
#page-blocks-course_fisher-addcourse .teachercourses .addcourseitem {
    border: thin solid black;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

#page-blocks-course_fisher-addcourse .teachercourses li {
    list-style: outside none none;
}

#page-blocks-course_fisher-addcourse .teachercourses .addcoursegrouplink,
#page-blocks-course_fisher-addcourse .teachercourses .enroltocourselink,
#page-blocks-course_fisher-addcourse .teachercourses .addcourselink {
    padding: 0.4em;
    margin-right: 1em;
}

#page-blocks-course_fisher-addcourse .teachercourses .enroltocoursename,
#page-blocks-course_fisher-addcourse .teachercourses .addcoursename,
#page-blocks-course_fisher-addcourse .teachercourses .enroltocoursecode,
#page-blocks-course_fisher-addcourse .teachercourses .addcoursecode {
    font-weight: bold;
}

#page-blocks-course_fisher-addcourse .teachercourses .enroltocoursecategory,
#page-blocks-course_fisher-addcourse .teachercourses .addcoursecategory {
   margin-top: 0.4em;
   display: block;
   font-style: oblique;
}

#page-blocks-course_fisher-addcourse .teachercourses .addcoursegrouplink + ul {
   border: thin solid black;
   padding: 0.5em 0.5em 0 25px;
   margin-left: 0;
   margin-top: 0.2em;
}

#page-blocks-course_fisher-addcourse .teachercourses .addcoursegrouplink {
   border-bottom: none;
}

#page-blocks-course_fisher-addcourse .teachercourses .fgroup span {
   display: block;
}

